<!DOCTYPE html>
<html>
<head>
	<title>Github Writeups</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/git.css">
	<%- include('head.ejs')%>
	<%if(content !== undefined){%>
		<link src="https://cdn.rawgit.com/showdownjs/showdown/1.9.0/dist/showdown.min.js
" type="text/javascript" />
	<%}%>
</head>
<body>
	<div class="mask">
			<div class="container-fluid text-white">
				<%- include('logo.ejs')%>
				<%- include('header.ejs')%>
				<div id="maincont" class="container-fluid">
					<%var a = contents; %>
					<%if(a !== undefined){%>
					<div id="supercont" style="height: <%- 50* a.length + 'px'%>">
						<div id="separatore" style="animation-name: long; animation-duration: 3s; animation-fill-mode: forwards;"></div>
						<div class="container-fluid" id="cont">
							<% for(var i=0; i < a.length; i++){%>
								<%if(prefix !== undefined){%>
									<a href = "<%= '/MyBlog/git/'+prefix+'/'+a[i]%>" ><%- a[i]%></a><br><br>
								<%}else{%>
									<%if(a[i] !== undefined){%>
										<a href = "<%= '/MyBlog/git/'+a[i]%>" ><%- a[i]%></a><br><br>
									<%}%>
								<%}%>
							<%}%>
						</div>
						<%}%>
					</div>
					<%if(content !== undefined){%>
							<div class="container-fluid text-white">
								<div class="container-fluid ctfcontent">
									<%- content%>
								</div>
							</div>
						<%}%>	
					
				</div>
				<%- include('footer.ejs')%>	
			</div>
		
	</div>

	<style>
		@keyframes long {
			from {height: 0px;}
			to {height: <%- 50* ((a !== undefined) ? (a.length +1) :  1) + 'px'%>}
		}

	</style>
</body>
</html>
