<!DOCTYPE html>
<html>
<head>
	<title>Blog</title>
	<%- include('head.ejs')%>
	<link rel="stylesheet" type="text/css" href="https://localhost:1337/researches.css">
</head>
<body>
	<div class="mask">
		<div class="container-fluid text-white">
				<%- include('logo.ejs')%>
				<%- include('header.ejs')%>
				<div class="container-fluid text-center">
					<!-- Link alle varie researches che prendo da MongoDb -->
					<%let blogs = b;%>
					<%for(let i=0; i < blogs.length; i++){%>
						<!--Devo creare un div per ogni blog-->
						<div class="blogcard container-fluid">
							<div class="row">
								<div class="col-md-6">
									<img id="riempitivo" src="/Lele.jpg">
								</div>
								<div class="col-md-6">
									<h1><%-blogs[i].Title%></h1>
									<p><%- "Autore: " + ((blogs[i].Author === undefined) ? "Unknown" : blogs[i].Author) %></p>
									<p><%- blogs[i].Body.split(',')[0] + "..." %></p>
									<div class="container-fluid text-center" id="bottone">
										<a href="<%= 'https://localhost:1337/MyBlog/researches/'+ blogs[i]._id %>">Read -></a>
									</div>
								</div>
							</div>
						</div>
					<%}%>
					<br><br><br><br><br><br><br><br><br>
				</div>	
			
		</div>



		<%- include('footer.ejs')%>
	</div>

</body>
</html>


<!--<a href="<%= /*'https://localhost:1337/MyBlog/researches/'+ blogs[i].Title */%>"><%- /*'Title: ' + blogs[i].Title + ', Author: ' + blogs[i].Author */%></a>-->